/* D3 Axis Styling */
.axis {
      font: 15px sans-serif;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
}

.dot {
  stroke: none;
}

.tooltip {
  position: absolute;
  font-size: 12px;
  width: auto;
  height: auto;
  pointer-events: none;
  background-color: white;
}

/* Custom CSS */
.tooltip-box {
  padding: 5px;
  color: white;
}
